@model OnlineShoppingTeam4.Models.Shippers

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Add</h2>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("senders", "Index", "Shippers")
    </li>
    <li class="active">Add</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>senders</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <span class="control-label col-md-2 bold"><strong>CompanyName</strong></span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 bold"><strong>TelePhone</strong></span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="creates" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
