@model IEnumerable<OnlineShoppingTeam4.Models.Suppliers>
@{
    ViewBag.Title = "Retailers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Retailers</h2>
<hr />


   @Html.ActionLink("Add Retailer", "Create", null, new { @class = "btn btn-default" })


<div class="panel panel-default">
    
    <div class="panel-body">
        <table id="ShopCartTable" class="cell-border hover order-column coloronwhite">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        Contact Name
                    </th>
                    
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SupplierID)</td>
                    <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>

                    <td>@Html.DisplayFor(modelItem => item.ContactName)</td>

                    <td>@Html.DisplayFor(modelItem => item.Address)</td>

                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                    <td>@Html.DisplayFor(modelItem => item.Country)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        @Html.ActionLink("Remove", "Delete", new { id = item.SupplierID }, new { onclick = "return confirm('Are you sure you want to delete this Retailer?');" })
                    </td>
                </tr>
                      
                    }
                
            </tbody>

        </table>
</div>
</div>