@model OnlineShoppingTeam4.Models.Categories

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Detalii</h2>
<hr />
<div>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Dashboard", "Home", "Dashboard")
        </li>
        <li>
            @Html.ActionLink("Categories", "Index", "Orders")
        </li>
        <li class="active">Details</li>
    </ol>
    <h4>Categories</h4>
    <hr />
   
    

        <dl class="dl-horizontal">
            <dt>
                Category Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)<br />
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)<br />
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("back", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-default" })
   
</p>
