@model OnlineShoppingTeam4.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<hr />
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Dashboard", "Home", "Dashboard")
    </li>
    <li>
        @Html.ActionLink("Products", "Index", "Product")
    </li>
    @{
        string category = Request.QueryString["category"] ?? "";
        if (!String.IsNullOrEmpty(category))
        {
            <li>
                @Html.ActionLink(category, "Index", "Product", new { category = category }, null)
            </li>
        }
    }
    <li class="active">Details</li>
</ol>

<div class="row">
    <div class="col-lg-3">
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Category Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)<br />
            </dd>

            <dt>
                Company Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Supplier.CompanyName)<br />
            </dd>

            <dt>
                Product Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)<br />
            </dd>

            <dt>
                Quantity Per Unit
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityPerUnit)<br />
            </dd>

            <dt>
                Unit Price
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)<br />
            </dd>

            <dt>
                Units In Stock
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitsInStock)<br />
            </dd>

            <dt>
                Units On Order
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitsOnOrder)<br />
            </dd>

            <dt>
                Reorder Level
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReorderLevel)<br />
            </dd>

            <dt>
                Discontinued
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discontinued)<br />
            </dd>

        </dl>
        <p class="col-lg-12">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID, category = category, search = Request.QueryString["search"] ?? "" }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Back", "Index", new { category = category, search = Request.QueryString["search"] ?? "" }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-lg-9">
        <img src="~/Images/@Model.Category.CategoryName/@(Model.ProductID).jpg" class="img-responsive" />
    </div>
</div>

